<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953808248579-k6gdf4u0ke9gckppofierbrsokt7r4es.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953808248579-k6gdf4u0ke9gckppofierbrsokt7r4es</string>
	<key>API_KEY</key>
	<string>AIzaSyB2zoJMtUE00QYfQ7-G-KdMv88yHkoGwu0</string>
	<key>GCM_SENDER_ID</key>
	<string>953808248579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-5704e</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-5704e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953808248579:ios:1133e8e7536c09090bd336</string>
</dict>
</plist>